// Example Scss

.ot-sitekit-ce-imgtextoverlay {
    .h3 {
        color: var(--bs-secondary);
        font-weight: bold;
    }

    .subheader {
        color: initial;
        font-weight: normal;
        display: block;
    }

    .ot-sitekit-ce-imgtextoverlay-overlay {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-down(lg) {
    .ot-sitekit-ce-imgtextoverlay-overlay {
        position: relative;
        color: #111;
        padding: 1rem;
        z-index: 1;

        &::after {
            background-color: var(--bs-primary);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .2;
            z-index: 0;
            padding: 1rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .ot-sitekit-ce-imgtextoverlay {
        position: relative;
    }
    .ot-sitekit-ce-imgtextoverlay-overlay {
        position: absolute;
        transform: translateY(-50%) !important;
        right: 0 !important;
        top: 50% !important;
        max-width: 45%;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.7) !important;
    }
}
